{% extends "base.html" %}

{% block title %}
    <title>Login</title>
{% endblock title %}
    

{% block body %}
<div class="container">
  {% for msg in messages %}
<div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
    <strong> {{msg}} </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
<h1 class="text-center my-3">Login</h1>
    <form method="POST">
      {% csrf_token %}
        <div class="form-group">
          <label for="inputAddress">UsernName</label>
          <input name="username" type="text" class="form-control" id="inputAddress" placeholder="Username">
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputCity">Password</label>
            <input name="password" type="password" class="form-control" id="inputCity" placeholder="Password">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
</div>

    
{% endblock body %}
    